.footer {
  background-image: url("../../assets/images/background-images/black-background.jpeg");
  background-size: cover;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .copyright {
    font-size: 14px;
    color: #666;
  }