:host {
  display: block;
  width: 100%;

  .slides {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .slide {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex; /* Use flexbox */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */


      img {
        max-width: auto; /* Ensures the image doesn't exceed the width of its container */
        max-height: 100%; /* Ensures the image doesn't exceed the height of its container */
        width: auto; /* Allow the image width to adjust */
        height: 100%; /* Take up the full height of the container */
        margin: 0 auto; /* Center the image horizontally */
        display: block; /* Ensure the image is a block element */
      }
    }

    .nextButton,
    .previousButton {
      position: absolute;
      top: 50%;
      border: 0px;
      background-color: transparent;
      font-size: 30px;
      color: #fff;
    }
    .nextButton {
      right: 20px;
    }
    .previousButton {
      left: 20px;
    }

    #indicators {
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      bottom: 20px;
      width: 200px;
      .indicator {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        display: inline-block;
        margin: 0px 5px;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out;

        &.active {
          background-color: #4f4f4f;
        }
      }
    }
  }
}

.slide {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0; /* Adjust as needed */
  color: white; /* Text color */
  background-color: rgba(0, 0, 0, 0.25); /* Semi-transparent background */
  padding: 5px 10px; /* Padding around the text */
  font-size: 12px; /* Adjust font size */
}

.slides.paused {
  animation-play-state: paused;
}