<div class="slide-container">
  <div class="slides">
    <div
      class="slide"
      *ngIf="slides[currentSlide]"
      [ngStyle]="{
        opacity: hidden ? '0' : '1',
        transition: 'opacity ' + animationSpeed + 'ms ease-in-out'
      }"
      (click)="navigateToProjectDetail(slides[currentSlide])"
    >
      <div class="overlay">{{ slides[currentSlide].name }}</div>

      <img
        [src]="slides[currentSlide].carouselImages[0]"
        alt="{{ slides[currentSlide].name }}"
      />
    </div>
  </div>
</div>
