<div class="contact-container">
    <div class="link-box-container">
      <a class="link-box box-1" href="https://github.com/everestshi">
        <img src="../../assets/icons/github.svg" alt="GitHub Logo" />
        <div class="link-text text-1">GitHub</div>
      </a>
    </div>
    <div class="link-box-container">
      <a class="link-box box-2" href="https://www.linkedin.com/in/everestshi/">
        <img src="../../assets/icons/linkedin.svg" alt="LinkedIn Logo" />
        <div class="link-text text-2">
          LinkedIn
        </div>
      </a>
    </div>
    <div class="link-box-container">
      <a
      class="link-box box-3"
      href="https://www.instagram.com/mountainscandance/"
    >
      <img src="../../assets/icons/instagram.svg" alt="Instagram Logo" />
      <div class="link-text text-3">
        Instagram
      </div>
    </a>
    </div>
    <div class="link-box-container">
      <a class="link-box box-4" href="mailto:shi.everest@gmail.com">
        <img src="../../assets/icons/mail.svg" alt="Email Logo" />
        <div class="link-text text-4">Email</div>
      </a>
    </div>
  </div>