nav {
  background-color: #111;
  background-image: url("../../assets/images/background-images/black-background.jpeg");
  background-size: cover;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

ul {
  li{
    list-style: none;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 62px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

// Hamburger Icon
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  
  div {
    background-color: #fff;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease; // Add transition for smoother animation
  }
}

.dropdown-menu {
  padding: 0;
  li {
    font-style: italic;
    a{
      font-weight: 300;
    }
  }
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw; // Set width to viewport width
  text-align: center; // Center align items
  overflow: hidden; // Hide overflowing content
  position: absolute;
  top: 62px; // Position below the top nav bar
  left: 0;
  background-color: #222222; // Set background color
  transition: height 0.5s ease; // Add transition for smoother animation
  height: 0;
}

// Apply animation to slide down when opened
.nav-list.active-menu {
  height: auto; // Set height to auto to reveal the menu
  display: flex; // Change display to flex to fill the width
  flex-direction: column; // Align items vertically
  z-index: 1000;
}

.nav-item {
  padding: 10px 0;
  border-top: 1px solid #333; // Adds a subtle separator
}

.nav-item a {
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  display: block; // Ensure the link fills the entire list item for easier touch
}

// Apply hover effect for nav items on mobile
.nav-item a:hover {
  background-color: #555; // Background color on hover
}


@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto; // Ensure the height is auto for desktop view
    overflow: visible; // Show overflowing content
    position: static; // Reset position
    background-color: transparent; // Reset background color
    width: auto; // Reset width
  }
  
  .nav-item {
    padding: 0 10px;
    border-top: none;
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }

  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item > a:hover,
  .nav-item > .active {
    background-color: #555;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu li:hover {
    background-color: #555;
  }

  .dropdown-menu a:hover,
  .dropdown-menu .active {
    background-color: #555;
  }
}
