.filter-section {
  display: flex;
  flex-direction: column; /* Display items vertically */
}

.category-container {
  h3 {
    padding-top: 10px;
    margin: 0;
  }
}

.tags-container {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow tags to wrap to the next row */
}

.tag-item {
  cursor: pointer;
  padding: 5px 10px; /* Adjust padding as needed */
}
