<div class="about-code-container">
  <button type="button" class="back-btn" (click)="goBack()">Back</button>
  <div class="name">Everest Shi</div>
  <div class="description-box">
    <div class="title">
      I'm a Junior Software Developer based in Vancouver, Canada.
    </div>
    <div class="description">
      I enjoy creating innovative solutions across full-stack web development.
      Known for promoting collaborative effort and consistent excellence, I'm
      driven by the desire to make a positive impact through technology. Let's
      connect and create something remarkable together.
    </div>
  </div>
  <div class="skills-box">
    <div class="skills-heading">
      <span>T</span>
      <span>E</span>
      <span>C</span>
      <span>H</span>
      <span>N</span>
      <span>O</span>
      <span>L</span>
      <span>O</span>
      <span>G</span>
      <span>Y</span>
    </div>
    <div class="skills-list">
      <span *ngFor="let tag of tags" [style.background-color]="tag.color">{{ tag.name }}</span>
    </div>
  </div>
  <div class="project-carousel-box">
    <app-code-carousel
      [indicatorsVisible]="true"
      [animationSpeed]="500"
      [slides]="featuredProjects"
      [autoPlay]="true"
      [autoPlaySpeed]="10000"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
    </app-code-carousel>
  </div>
  <div class="code-right-side">
    <div class="social-links">
      <a class="link-box box-1" href="https://github.com/everestshi">
        <img src="../../assets/icons/github.svg" alt="GitHub Logo" />
        <div class="link-text text-1">G<br />i<br />t<br />H<br />u<br />b</div>
      </a>
      <a class="link-box box-2" href="https://www.linkedin.com/in/everestshi/">
        <img src="../../assets/icons/linkedin.svg" alt="LinkedIn Logo" />
        <div class="link-text text-2">
          L<br />i<br />n<br />k<br />e<br />d<br />I<br />n
        </div>
      </a>
      <a
        class="link-box box-3"
        href="https://www.instagram.com/mountainscandance/"
      >
        <img src="../../assets/icons/instagram.svg" alt="Instagram Logo" />
        <div class="link-text text-3">
          I<br />n<br />s<br />t<br />a<br />g<br />r<br />a<br />m
        </div>
      </a>
      <a class="link-box box-4" href="/">
        <img src="../../assets/icons/mail.svg" alt="Email Logo" />
        <div class="link-text text-4">E<br />m<br />a<br />i<br />l</div>
      </a>
    </div>
    <a href="/developer-portfolio" class="portfolio-button">Portfolio</a>
  </div>
</div>
