.about-code-container {
display: flex;
position: relative;
}

.name-title-box, .description-box, .skills-box, .project-carousel-box {
    border: 1px solid #000; /* Black border */
    padding: 20px; /* Padding for all boxes */
    background-color: #fff; /* White background */
    margin-bottom: 20px; /* Adjust as needed */
}

.name-title-box {
    position: absolute;
    top: 15rem;
    left: 5rem;
}

.name {
    font-size: 100px;
    font-weight: bold;
}

.title {
    font-size: 50px;
    color: #666;
}

.description-box {
    position: absolute;
    top: 32rem;
    left: 7rem;
}

.heading {
    font-size: 20px;
    font-weight: bold;
}

.description {
    font-size: 16px;
    color: #666;
}

.skills-box {
    position: absolute;
    top: 40rem;
    left: 5rem;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.project-carousel-box {
    width: 40%; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    height: 80vh;
    position: absolute;
    right: 5rem;
    z-index: -1;
}

.carousel-heading {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: #333;
    padding: 10px;
}
