<div class="about-code-container">
  <!--<button type="button" class="back-btn" (click)="goBack()">Back</button>-->
  <div class="name-container">
    <div class="name">Everest Shi</div>
    <div class="title-top">
      I'm a <span class="orange"> Junior Software Developer </span> based in
      Vancouver, Canada.
    </div>
  </div>
  <div class="description-box">
    <div class="title">
      I'm a <span class="orange"> Junior Software Developer </span> based in
      Vancouver, Canada.
    </div>
    <div class="description">
      I enjoy creating innovative solutions across
      <span class="orange">full-stack web development</span>. Known for
      promoting <span class="orange">collaborative effort</span> and
      <span class="orange">consistent excellence</span>, I'm driven by the
      desire to make a positive impact through technology. Let's connect and create something remarkable
      together.
    </div>
  </div>
  <div class="skills-box">
    <div class="skills-heading">
      <span>T</span>
      <span>e</span>
      <span>c</span>
      <span>h</span>
      <span>n</span>
      <span>o</span>
      <span>l</span>
      <span>o</span>
      <span>g</span>
      <span>y</span>
    </div>
    <div class="tech-right-side">
      <div class="tech-description">
        I enjoy creating innovative solutions across <span class="purple">full-stack web development</span>,
        promoting <span class="purple">collaborative effort</span>, and achieving <span class="purple">consistent excellence</span>.
        Let's connect and create something remarkable together.
      </div>
      <div class="skills-list">
        <span *ngFor="let tag of tags" [style.background-color]="tag.color">{{
          tag.name
        }}</span>
      </div>
    </div>
  </div>
  <a href="/developer-portfolio" class="mobile-portfolio-button">
    <div class="mobile-port-text">Explore my Portfolio</div>
  </a>
  <div class="mobile-featured-title">Featured Projects</div>
  <div class="project-carousel-box">
    <app-code-carousel
      [indicatorsVisible]="true"
      [animationSpeed]="500"
      [slides]="featuredProjects"
      [autoPlay]="true"
      [autoPlaySpeed]="10000"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
    </app-code-carousel>
  </div>
  <div class="code-right-side">
    <div class="social-links">
      <div class="link-box-container">
        <div class="dotted-barrier"></div>
        <a class="link-box box-1" href="https://github.com/everestshi">
          <img src="../../assets/icons/github.svg" alt="GitHub Logo" />
          <div class="link-text text-1">
            G<br />i<br />t<br />H<br />u<br />b
          </div>
        </a>
      </div>
      <div class="link-box-container">
        <div class="dotted-barrier"></div>
        <a
          class="link-box box-2"
          href="https://www.linkedin.com/in/everestshi/"
        >
          <img src="../../assets/icons/linkedin.svg" alt="LinkedIn Logo" />
          <div class="link-text text-2">
            L<br />i<br />n<br />k<br />e<br />d<br />I<br />n
          </div>
        </a>
      </div>
      <div class="link-box-container">
        <div class="dotted-barrier"></div>
        <a
          class="link-box box-3"
          href="https://www.instagram.com/mountainscandance/"
        >
          <img src="../../assets/icons/instagram.svg" alt="Instagram Logo" />
          <div class="link-text text-3">
            I<br />n<br />s<br />t<br />a<br />g<br />r<br />a<br />m
          </div>
        </a>
      </div>
      <div class="link-box-container">
        <div class="dotted-barrier"></div>
        <a class="link-box box-4" href="mailto:shi.everest@gmail.com">
          <img src="../../assets/icons/mail.svg" alt="Email Logo" />
          <div class="link-text text-4">E<br />m<br />a<br />i<br />l</div>
        </a>
      </div>
    </div>
    <a href="/developer-portfolio" class="portfolio-button">Portfolio</a>
  </div>
</div>
