.about-code-container {
  display: flex;
  flex-direction: column; /* Display items vertically */
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
}

/* Remove position:relative from individual boxes */
.description-box,
.skills-box,
.project-carousel-box {
  padding: 20px;
  margin-bottom: 20px;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Align contents vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center;
}

.project-carousel-box {
  padding: 0;
  cursor: pointer;
}

/* No need for position:relative for individual boxes */
.name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.title {
  font-size: 0.85rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px white solid;
}

.description-box {
  background-image: url('../../assets/images/background-images/black-background.jpeg');
  background-size: cover;
  color: white;
}

.description-box .description {
  font-size: 0.65rem;
}

.skills-box .skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Adjust the gap as needed */
  justify-content: center;
  font-size: 0.8rem;
}

.skills-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.skills-box .skills-list span {
  padding: 2px 4px; /* Adjust padding as needed */
  border-radius: 5px; /* Optional: for rounded corners */
  color: white;
}

.mobile-portfolio-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  background-color: #F28C28;
  border: 1px solid #000;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
}

.mobile-featured-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.mobile-portfolio-button::before,
.mobile-portfolio-button::after {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position the lines */
  height: 1px; /* Set line height */
  background-color: black; /* Color of the lines */
  width: calc(50% - 130px); /* Calculate width to extend to edges of window */
}

.mobile-portfolio-button::before {
  left: 2vw; /* Align to left edge of window */
}

.mobile-portfolio-button::after {
  right: 2vw; /* Align to right edge of window */
}

.project-carousel-box {
  width: 100%; /* Occupy full width on mobile */
  height: 100%;
}

.carousel-heading {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background-color: #333;
  padding: 10px;
}

.code-right-side {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
}

.link-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px dotted #000;
}

.link-box img {
  width: 20px; /* Adjust as needed */
  height: 20px;
  margin-bottom: 10px;
}

.link-text {
  font-size: 0.8em;
}

.portfolio-button {
  width: 100%;
  padding: 10px;
  margin-top: auto;
  display: none;
}

@media (min-width: 768px) {
  .about-code-container {
    height: 70%;
    .back-btn {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .name {
    position: absolute;
    top: 7rem;
    left: 3rem;
    background-color: none;
    border: none;
    font-size: 9vw;
    font-weight: bold;
    color: white; /* Set text color to white */
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
      1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
      -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
      2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
      -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
      -2px -1px 0 #000;
    z-index: 10;
  }

  .description-box {
    position: absolute;
    top: 12.5rem;
    left: 3.2rem;
    width: 35%;
    justify-content: left;
    align-items: flex-start;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .title {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 0.6rem;
    padding-left: 1.8rem;
  }

  .skills-box {
    position: absolute;
    top: 18.5rem;
    left: 3.2rem;
    width: 40%;
    display: flex;
    padding: 0;
    border: none;
    flex-direction: row;
    background-color: transparent;
    align-items: flex-end;
  }

  .skills-box .skills-list {
    justify-content: flex-start;
    margin-left: 1rem;
    border-top: 1px black solid;
    padding-top: 1.5rem;
  }

  .skills-heading {
    text-align: left;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
  }

  .skills-heading span {
    display: block;
    font-weight: bold; /* Make the text bold */
  }
  
  .skills-box .skills-list span {
    position: relative;
    font-size: 0.5rem;
    border-radius: 0;
    padding: 5px 10px 7px 10px; /* Adjust padding as needed */
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 5px) 50%, 100% 100%, 0% 100%);

  }

  

  .project-carousel-box {
    width: 25%; /* Adjust width as needed */
    position: absolute;
    left: 50%; /* Position from the center */
    z-index: 1;
    border: none;
  }

  .carousel-heading {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: #333;
    padding: 10px;
  }

  .code-right-side {
    position: relative;
    width: 20%;
    height: 500px;
    margin-right: 20px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-self: flex-end; /* Aligns the element to the end of its parent container */
  }

  .social-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .link-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    background-color: white;
    z-index: 1;
  }

  .link-box::before,
  .link-box::after {
    content: "";
    position: absolute;
    top: 30px; /* Start from the top edge of the link-box */
    height: 420px; /* Example large height to ensure it covers the distance to the portfolio button */
    width: 1px; /* The thickness of your dotted line */
    border-right: 1px dotted grey; /* Right line */
  }

  .link-box::before {
    left: 0;
    border-right: none;
    border-left: 2px dotted grey; /* Left line */
  }

  .link-box::after {
    right: 0;
  }

  .link-box img {
    width: 30px; /* Adjust as needed */
    margin: 5px 0;
  }

  .link-text {
    position: relative;
    font-size: 0.8em;
    overflow: hidden;
    max-height: 100px;
    transition: max-height 0.3s ease;
    text-align: center;
    z-index: 5;
    width: 100%;
  }

  .link-box:hover .link-text {
    max-height: 200px; /* Adjust the maximum height based on your content */
  }

  .portfolio-button {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: auto;
    align-self: flex-end;
    background-color: white;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    z-index: 5;
  }
}

@media (min-width: 1024px) {
  .name {
    font-size: 5.75rem;
  }
}
