<app-rotating-carousel></app-rotating-carousel>
<section class="portfolio-container">
  <div class="title-container">
    <h1 class="projects-title">All Projects</h1>
  </div>  <div>
    <!-- Display selected tags -->
    <section class="selected-tags">
      <!-- Selected tag list -->
      <div
        *ngFor="let selectedTag of tagFilters"
        (click)="removeTagFilter(selectedTag)"
      >
        <div class="filter-tags" [style.background-color]="selectedTag.color">{{ selectedTag?.name }}</div>
      </div>
    </section>
    <div class="filter-section">
      <div class="filter-btn" (click)="toggleFilter()">
        <p>Filter</p>
      </div>
      <div>
        <div *ngIf="isCollapsed">
          <app-filter
            [tagFilters]="tagFilters"
            (newTagFilterEvent)="handleTagFilterChange($event)"
          ></app-filter>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card-container">
    <div *ngFor="let project of projects" class="each-card-container">

      <div class="card">
        <div class="img-container">
          <img *ngIf="project.images && project.images.length > 0" 
          [src]="project.images[0]" 
          alt="{{ project.name }}" 
          class="card-img-top">
        </div>
        <div class="card-body">
          <div class="project-heading">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-subtitle">{{ project.subtitle }}</p>
          </div>
          <div class="project-desc-container">
            <p class="card-text">{{ project.summary }}</p>
          </div>
          <div class="card-footer">
            <div *ngFor="let tag of project.tags">
              <div class="card-tags" [style.background-color]="tag.color">
                {{ tag?.name }}
              </div>
            </div>
          </div>
          <div class="project-links">
            <button class="card-btn" (click)="navigateToProjectDetail(project)">
              View Project Details
            </button>
            <div class="external-links">
              <a class="github-link"> 
                <img src="../../assets/icons/github.svg" alt="GitHub Logo" />
              </a>
              <a class="external-link"> 
                <img src="../../assets/icons/external-link.svg" alt="External Link Logo" />
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>  
</section>