<div>
    <div>
        <button class="filter-btn" (click)="isCollapsed = !isCollapsed">Filter</button>
    </div>
    <div>
        <div *ngIf="isCollapsed">
            <app-filter
            [tagFilters]="tagFilters"
            (newTagFilterEvent)="handleTagFilterChange($event)"
            ></app-filter>
        </div>
    </div>
</div>

<div class="card-container">
    <div *ngFor="let project of projects">
        <app-project-card [project]="project"></app-project-card>
    </div>
</div>