main {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    flex: 1;
    background-image: url('../assets/images/background-images/light.jpeg');
    background-size: cover;
    background-repeat: repeat;
}

.content {
    max-width: 1024px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }