<article>
  <header>
    <button type="button" (click)="goBack()">Back</button>
  </header>
  <div class="projects-grid">
    <div class="box title-box"> {{project?.name}}</div>
    <div class="box description-box"> {{ project?.description}} </div>
    <div class="box link-box"><a href="http://example.com">Visit Website</a></div>
    <div class="box tech-box">
      <div *ngIf="project?.tags?.length">
        Tags:
        <span *ngFor="let tag of project?.tags">
          {{ tag.name }}
        </span>
      </div>
    </div>
    <div class="box carousel-box">  <img
      *ngIf="project?.images"
      [src]="'assets/images/' + project?.images"
      alt="Image of {{ project?.name }}"
    /></div>
  </div>
</article>