// Base styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    min-height: 100vh;
    min-width: 320px;
  }